body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  color: #607D8B;
  background: #f4f4f5;
  margin: 2em;
}

.error {
  color: #E91E63;
}

h2 {
  font-weight: 300;
}

li {
  list-style: none;
  margin: 0em;
  line-height: 18px;
}

ul {
  margin: 0;
  padding: 0;
}

li>span {
  display: inline-block;
  width: 18px;
  height: 18px;
  border-radius: 100%;
  text-align: center;
  background: #9C27B0;
  color: white;
  font-weight: 200;
  margin: 0.3em;
  padding: 0.3em;
  vertical-align: middle;
}

div#root {
  margin: 1em;
}